body {
    position        : fixed;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    background-color: rgba(165, 42, 42, 0.473);
}

#text-box {
    border       : solid 0.3rem rebeccapurple;
    border-radius: 1rem;
    padding      : 1rem;
    font-size    : 1rem;
    margin-left  : 8%;
}

#range-text-box {
    appearance   : slider-vertical;
}

datalist {
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    writing-mode    : sideways-lr;
    width           : 5rem;
    position        : relative;
    right           : 3rem;
}

#text-box-align {
    display: flex;
}